/* body {
  background-color: lightskyblue;
} */
h1 {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-align: center;
}

.heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unbox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#overlay {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#center_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 10;
}

#pop_up {
  position: fixed;
  /* background-color: rgba(210, 43, 43, 0.8); */
  padding: 24px;
  /* border: 5px solid white; */
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;

  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  z-index: -1;
  width: 300px;
  height: 300px;
}

.button:hover {
  transform: scale(1.1) !important; /* Slightly enlarges on hover */
}

.fungi-inventory {
  position: fixed;
  bottom: 0;
  width: 100%;
}

div.scrollmenu {
  background-color: #dfeef5;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
